:root{
    --primary-color: #3672e2;
    --secondary-color: #21418b;
    --title-color: #050f30;
    --text-color: #2b2b2b;
    --title-size: clamp(2.5rem, 5vw, 5rem);
    --text-size: clamp(1rem, 3vw, 1.4rem);
    --btn-fz: clamp(14px, 2vw, 1rem);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body{
    border: 0;
    margin: 0;
    min-height: 200vh;
}

/* ======== HEADER STARTS ======== */
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_container{
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    text-decoration: none;
    color: inherit;
}

.logo_container img{
    height: clamp(32px, 50%, 48px);
}

.logo_text{
    color: inherit;
    font-family: serif;
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    margin-left: 10px;
}

/* Nav Bar */
.header_nav{
    position: fixed;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 20px 0 30px;
    top: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.6s ease-in-out;
}

.header_nav.scrolled{
    background-color: #fff;
    box-shadow: 2px 0px 10px #0005;
    color: #000;
}

.header_nav.scrolled .nav_menu-btn svg rect{
    fill: #000;
}

.nav_menu_container{
    position: relative;
}

/* Nav List */
.nav_menu_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.45s;
}

.nav_menu_list.--clicked{
    transform: translateX(0%);
}

.nav_menu_list-item{
    list-style: none;
    padding: 0 20px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav_menu_list-item:hover .nav_menu_item-link{
    color: var(--secondary-color);
}

.nav_menu_item-link{
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

/* Navbar Menu Btn */
.nav_menu_btn-container{
    flex-grow: 1;
    height: 28px;
    display: flex;
    justify-content: end;
}

.nav_menu-btn{
    position: fixed;
    height: inherit;
    z-index: 200;
    cursor: pointer;
    opacity: 0.7;
}

.nav_menu-btn svg{
    height: inherit;
}

.nav_menu-btn rect{
    fill: #fff;
    transition: 0.45s;
    opacity: 1;
}

.nav_menu_btn-container.--clicked .nav_menu-btn_svg-rect{
    fill: #000;
}

.header_nav .nav_menu-btn:hover svg .nav_menu-btn_svg-rect{
    fill: var(--secondary-color);
}

.nav_menu_btn-container svg{
    width: 100%;
}


/* Header Img */
.header_img_container{
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-image: url(assets/practicasImg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.header_img_overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(#000d, transparent);
    backdrop-filter: blur(2px);
    top: 0;
    right: 0;
}

/* Header Content */
.header_content{
    width: fit-content;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 50%;
    text-align: center;
}

.header_content-title{
    font-size: clamp(2.6rem, 8vw, 5rem);
    opacity: 0.8;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.header_content-subtitle{
    font-size: clamp(1rem, 4vw, 1.4rem);
    font-weight: 500;
}

.header_content-text{
    margin-top: 0;
    margin-bottom: 1rem;
}

.header_btn{
    margin-top: 1rem;
    font-size: var(--btn-fz);
    cursor: pointer;
    width: fit-content;
}

.header_btn-text{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    outline: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
    transition-duration: 0.4s;
}

.header_btn-text:hover{
    padding: 10px 30px;
}

/* ======== HEADER ENDS ======== */
/* ======== PRACTICAS START ======== */
.practicas{
    margin: auto;
    padding: 1rem 0;
    width: 90%;
    height: 90vh;
}

.practicas_list-container{
    min-width: 100%;
    overflow-y: hidden;
}

.practicas_list-container::-webkit-scrollbar{
    height: 8px;
    background-color: #f6f6f6;
}

.practicas_list-container::-webkit-scrollbar-thumb{
    height: 8px;
    background: var(--secondary-color);
    border-radius: 5px;
}

.practicas_list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.practicas_list-item{
    background-color: #fff;
    padding: 10px 20px;
    text-wrap: nowrap;
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 0px 2px #0005;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top 0.2s ease, background 0.3s;
}

.practicas_list-item:hover{
    background: #eee;
    z-index: 2;
}

.practicas_list-item.--clicked{
    background: var(--secondary-color);
    color: #fff;
}

.practicas_container{
    height: 100%;
}

.practica_doc{
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.practica_doc iframe{
    height: 20%;
}

.practica-1{
    display: block;
}

/* ======== PRACTICAS END ======== */
/* ======== RESPONSIVE ======= */

@media screen and (width >= 960px) {
    /* Nav Bar */
    .nav_menu_btn-container{
        display: none;
    }

    .nav_menu_list{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: fit-content;
        height: inherit;
        background-color: transparent;
        transform: translate(0%);
        transition: 0.45s;
    }

    .nav_menu_list-item{
        font-size: clamp(1rem, 6vw, 1.2rem);
        color: inherit;
    }

    .header_content{
        width: 50%;
    }

    .practicas{
        margin-top: 20px;
        width: 70%;
    }
}

@media screen and (width >= 1080px) {
    /* Variables */
    :root{
        --btn-fz: clamp(14px, 2vw, 1.1rem);
    }

    /* Header */
    .header_content-title{
        margin-bottom: 1.2rem;
    }
}